@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 20.4px;
    letter-spacing: 0.1px;
    color: #6D6E70;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #6D6E70;
}

a.current {
    text-decoration: none;
}

.container {
    max-width: 678px;
    padding: 80px 0 40px 0;
    margin: auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

.container {
    padding: 40px 0 40px 0;
    margin: auto;
    overflow: hidden;
}

}