@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 20.4px;
    letter-spacing: 0.1px;
    color: #6D6E70;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #6D6E70;
}

a.current {
    text-decoration: none !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 13px;
}

th, td {
    padding: 8px 12px ;
    border: 1px solid #E5E5E5;
    text-align: left;
}

th {
    background-color: #F7F7F7;
    font-weight: 600;
}

hr {
    border: none;
    border-top: 1px solid #E5E5E5;
    margin: 60px 0 30px;
}

article p {
    margin-bottom: 16px !important;
}

article ol {
    margin-block: 24px;
}

article li {
    margin-bottom: 12px;
}

.container {
    max-width: 678px;
    padding: 60px 0 40px 0;
    margin: auto;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .container {
        padding: 40px 0 40px 0;
        margin: auto;
        overflow: hidden;
    }

}